Source: com.github.matfantinel.reminduck
Section: x11
Priority: extra
Maintainer: Matheus Fantinel <matfantinel@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               meson,
               valac (>= 0.28.0)
Standards-Version: 4.1.1

Package: com.github.matfantinel.reminduck
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Don't forget about your stuff in an adorably annoying way.