Source: com.github.matfantinel.reminduck
Section: x11
Priority: extra
Maintainer: Matheus Fantinel <matfantinel@gmail.com>
Build-Depends: cmake (>= 2.8),
               cmake-elementary,
               debhelper (>= 8.0.0),
               valac-0.26 | valac (>= 0.26)
Standards-Version: 3.9.3

Package: com.github.matfantinel.reminduck
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Test