@define-color colorPrimary @BANANA_300;
@define-color colorAccent @BANANA_700;
/* @define-color textColorPrimary white; */

.reminduck-headerbar {
    background-color: @colorPrimary;
    /* color: @textColorPrimary; */
    box-shadow: none;
}

.reminduck-welcome-box {
    background-color: #FFFFFF;
}

.reminduck-reminders-list {
    background-color: inherit;
}

.reminduck-reminders-list .list-item {
    background-color: @SILVER_100;
    color: @BLACK_500;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid @SILVER_300;
}