.reminduck-headerbar {
    /* background-color: #ffe16b;
    color: #645C3A; */
    /* box-shadow: none; */
}

.welcome {
    background-color: inherit;
}

.reminduck-reminders-list {
    background-color: inherit;
}

.reminduck-reminders-list .list-item {
    /* background-color: #fafafa;
    color: #333333; */
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

.reminduck-reminders-list .list-item label {
    /* color: #333333; */
}


/* Dark Styles */
.dark .reminduck-headerbar {
    /* background-color: #333333; */
    /* color: #fff394; */
}

.dark .reminduck-welcome-box {
    /* background-color: #404040; */
}

.dark .reminduck-reminders-list .list-item {
    /* background-color: #333333;
    color: #fafafa; */
    /* border: 1px solid #000000; */
}

.dark .reminduck-reminders-list .list-item label {
    /* color: #fafafa; */
}