@import './stylesheet.css';

@define-color colorPrimary #333333;
@define-color colorAccent #ffe16b;
@define-color textColorPrimary #fff394;

.reminduck-headerbar {
    background-color: @colorPrimary;
    color: @textColorPrimary;
}

.reminduck-welcome-box {
    background-color: #404040;
}

.reminduck-reminders-list .list-item {
    background-color: #333333;
    color: #fafafa;
    border: 1px solid #000000;
}

.reminduck-reminders-list .list-item label {
    color: #fafafa;
}