@define-color colorPrimary @BANANA_300;
@define-color colorAccent @BANANA_500;
@define-color textColorPrimary #645C3A;

.reminduck-headerbar {
    background-color: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: none;
}

.welcome {
    background-color: inherit;
}

.reminduck-reminders-list {
    background-color: inherit;
}

.reminduck-reminders-list .list-item {
    background-color: @SILVER_100;
    color: @BLACK_500;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid @SILVER_300;
}