@define-color colorPrimary @BANANA_300;
@define-color colorAccent @BANANA_500;
@define-color textColorPrimary #645C3A;

.welcome {
    background-color: inherit;
}

.reminduck-reminders-list {
    background-color: inherit;
}

.reminduck-reminders-list .list-item {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}